<Context>
    <Resource name="jdbc/trip_planner_db_simple"
              auth="Container"
              type="javax.sql.DataSource"
              username="Joseph"
              password="password"
              driverClassName="com.mysql.jdbc.Driver"
              url="jdbc:mysql://localhost:3306/trip_planner_db_simple"
              maxActive="15"
              maxIdle="3" />
</Context>